[Desktop Entry]
Icon=utilities-terminal
Type=Service
ServiceTypes=KAlgebra/Script

Name=Console
Name[bg]=Конзола
Name[bs]=Konzola
Name[ca]=Consola
Name[ca@valencia]=Consola
Name[cs]=Konzole
Name[da]=Konsol
Name[de]=Konsole
Name[el]=Κονσόλα
Name[en_GB]=Console
Name[es]=Consola
Name[eu]=Kontsola
Name[fi]=Konsoli
Name[fr]=Console
Name[ga]=Consól
Name[gl]=Consola
Name[hu]=Konzol
Name[it]=Console
Name[ja]=コンソール
Name[kk]=Консоль
Name[km]=កុងសូល
Name[ko]=콘솔
Name[lt]=Pultas
Name[lv]=Konsole
Name[mr]=कन्सोल
Name[nb]=Konsoll
Name[nds]=Konsool
Name[nl]=Console
Name[pa]=ਕਨਸੋਲ
Name[pl]=Konsola
Name[pt]=Consola
Name[pt_BR]=Console
Name[ru]=Консоль
Name[sk]=Konzola
Name[sl]=Konzola
Name[sv]=Terminal
Name[tr]=Konsol
Name[ug]=تىزگىن سۇپا
Name[uk]=Консоль
Name[x-test]=xxConsolexx
Name[zh_CN]=控制台
Name[zh_TW]=主控台
Comment=Scientific calculator
Comment[bg]=Научен калкулатор
Comment[bs]=Naučni kalkulator
Comment[ca]=Calculadora científica
Comment[ca@valencia]=Calculadora científica
Comment[cs]=Vědecká kalkulačka
Comment[da]=Videnskabelig regnemaskine
Comment[de]=Wissenschaftlicher Taschenrechner
Comment[el]=Επιστημονικός υπολογιστής
Comment[en_GB]=Scientific calculator
Comment[es]=Calculadora científica
Comment[eu]=Kalkulagailu zientifikoa
Comment[fi]=Tieteellinen laskin
Comment[fr]=Calculatrice scientifique
Comment[ga]=Áireamhán eolaíoch
Comment[gl]=Calculadora científica
Comment[hu]=Tudományos számológép
Comment[it]=Calcolatrice scientifica
Comment[kk]=Ғылыми калькулятор
Comment[km]=ម៉ាស៊ីន​គិតលេខ​បែប​វិទ្យាសាស្ត្រ
Comment[ko]=공학용 계산기
Comment[lt]=Mokslinis skaičiuotuvas
Comment[lv]=Zinātniskais kalkulators
Comment[mr]=शास्त्रीय गणकयंत्र
Comment[nb]=Vitenskapelig kalkulator
Comment[nds]=Wetenschaplich Taschenreekner
Comment[nl]=Wetenschappelijke rekenmachine
Comment[pa]=ਵਿਗਿਆਨਿਕ ਕੈਲਕੂਲੇਟਰ
Comment[pl]=Kalkulator naukowy
Comment[pt]=Calculadora científica
Comment[pt_BR]=Calculadora científica
Comment[ru]=Научный калькулятор
Comment[sk]=Vedecká kalkulačka
Comment[sl]=Znanstveno računalo
Comment[sv]=Vetenskaplig miniräknare
Comment[tr]=Bilimsel hesap makinesi
Comment[uk]=Калькулятор для науковців
Comment[x-test]=xxScientific calculatorxx
Comment[zh_CN]=科学计算器
Comment[zh_TW]=科學計算機

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=Console.qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KAlgebra-Priority=1000
