[Desktop Entry]
Icon=help-about
Type=Service
ServiceTypes=KAlgebra/Script

Name=About KAlgebra
Name[bg]=Относно KAlgebra
Name[bs]=O programu KAlgebra
Name[ca]=Quant a KAlgebra
Name[ca@valencia]=Quant a KAlgebra
Name[cs]=O aplikaci KAlgebra
Name[da]=Om KAlgebra
Name[de]=Über KAlgebra
Name[el]=Σχετικά με το KAlgebra
Name[es]=Acerca de KAlgebra
Name[et]=Teave KAlgebra kohta
Name[fi]=Tietoja KAlgebrasta
Name[fr]=À propos de KAlgebra
Name[ga]=Maidir le KAlgebra
Name[gl]=Sobre o KAlgebra
Name[hu]=A KAlgebra névjegye
Name[it]=Informazioni su KAlgebra
Name[kk]=KAlgebra туралы
Name[km]=អំពី KAlgebra
Name[mr]=के-एल्जिब्रा बद्दल
Name[nb]=Om KAlgebra
Name[nl]=Over KAlgebra
Name[pa]=ਕੇ-ਐਲਜਬਰਾ ਬਾਰੇ
Name[pl]=O KAlgebra
Name[pt]=Acerca do KAlgebra
Name[pt_BR]=Sobre o KAlgebra
Name[sk]=O programe KAlgebra
Name[sl]=O KAlgebri
Name[sv]=Om Kalgebra
Name[uk]=Про KAlgebra
Name[x-test]=xxAbout KAlgebraxx
Name[zh_CN]=关于 KAlgebra
Name[zh_TW]=關於 KAlgebra

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=About.qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KAlgebra-Priority=-10
