[Desktop Entry]
Icon=kspread
Type=Service
ServiceTypes=KAlgebra/Script

Name=Value Tables
Name[bg]=Таблици със стойности
Name[bs]=Tabele vrijednosti
Name[ca]=Taules de valors
Name[ca@valencia]=Taules de valors
Name[da]=Værditabeller
Name[de]=Wertetabellen
Name[en_GB]=Value Tables
Name[es]=Tablas de valores
Name[et]=Väärtustabelid
Name[fi]=Arvotaulukot
Name[fr]=Tableaux de valeurs
Name[gl]=Táboas de valores
Name[it]=Tabelle dei valori
Name[km]=តារាង​តម្លៃ
Name[ko]=값 테이블
Name[lt]=Reikšmių lentelės
Name[nb]=Verditabeller
Name[nds]=Weertentabellen
Name[nl]=Waardetabellen
Name[pl]=Tablice wartości
Name[pt]=Tabelas de Valores
Name[pt_BR]=Tabelas de valores
Name[sl]=Razpredelnice vrednosti
Name[sv]=Värdetabeller
Name[uk]=Таблиці значень
Name[x-test]=xxValue Tablesxx
Name[zh_TW]=數值表
Comment=Provides an applet that lets you create value tables easily
Comment[bg]=Конзола за използване на KAlgebra като калкулатор
Comment[ca]=Ofereix una consola per utilitzar el KAlgebra com a calculadora
Comment[ca@valencia]=Ofereix una consola per utilitzar el KAlgebra com a calculadora
Comment[da]=Giver en konsol så KAlgebra kan bruges som lommeregner
Comment[de]=Stellt eine Konsole bereit, um KAlgebra als Rechner zu benutzen
Comment[en_GB]=Provides a console to use KAlgebra as a calculator
Comment[es]=Proporciona una consola para usar KAlgebra como calculadora
Comment[et]=Konsool, mida KAlgebra saab kasutada arvutamiseks
Comment[fi]=Konsoli KAlgebran käyttöön laskimena
Comment[fr]=Fournit une console pour utiliser KAlgebra comme une calculatrice
Comment[gl]=Fornece unha consola para poder empregar o KAlgebra como calculadora
Comment[it]=Fornisce una console per usare KAlgebra come calcolatrice
Comment[km]=ផ្ដល់​នូវ​កុងសូល​ដើម្បី​ប្រើ​ KAlgebra ជា​ម៉ាស៊ីន​គិត​លេខ
Comment[ko]=KAlgebra를 계산기로 사용할 수 있는 콘솔
Comment[nb]=Tilbyr et konsoll for å bruke KAlgebra som en kalkulator
Comment[nds]=En Konsool för den Bruuk vun KAlgebra as Taschenreekner
Comment[nl]=Biedt een console om KAlgebra als rekenmachine te gebruiken
Comment[pl]=Zapewnia konsolę, aby używać KAlgebry jako kalkulatora
Comment[pt]=Oferece uma consola para usar o KAlgebra como uma calculadora
Comment[pt_BR]=Fornece um console para usar o KAlgebra como uma calculadora
Comment[sl]=Ponuja konzolo, ki omogoča uporabo KAlgebre kot računala
Comment[sv]=Tillhandahåller en terminal för att använda Kalgebra som miniräknare
Comment[uk]=Забезпечує роботу консолі-калькулятора на основі KAlgebra
Comment[x-test]=xxProvides a console to use KAlgebra as a calculatorxx
Comment[zh_CN]=提供一个控制台，将 KAlgebra 用作计算器
Comment[zh_TW]=提供主控台以使用 KAlgebra 做為計算機

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=Tables.qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
