[Desktop Entry]
Icon=kspread
Type=Service
ServiceTypes=KAlgebra/Script

Name=Value Tables
Name[bg]=Таблици със стойности
Name[bs]=Tabele vrijednosti
Name[ca]=Taules de valors
Name[ca@valencia]=Taules de valors
Name[cs]=Tabulky hodnot
Name[da]=Værditabeller
Name[de]=Wertetabellen
Name[el]=Πίνακες τιμών
Name[en_GB]=Value Tables
Name[es]=Tablas de valores
Name[et]=Väärtustabelid
Name[eu]=Balio taulak
Name[fi]=Arvotaulukot
Name[fr]=Tableaux de valeurs
Name[gl]=Táboas de valores
Name[hu]=Értéktáblázatok
Name[it]=Tabelle di valori
Name[kk]=Мән кестелері
Name[km]=តារាង​តម្លៃ
Name[ko]=값 테이블
Name[lt]=Reikšmių lentelės
Name[lv]=Vērtību tabulas
Name[nb]=Verditabeller
Name[nds]=Weertentabellen
Name[nl]=Waardetabellen
Name[pl]=Tablice wartości
Name[pt]=Tabelas de Valores
Name[pt_BR]=Tabelas de valores
Name[sk]=Tabuľky hodnôt
Name[sl]=Razpredelnice vrednosti
Name[sv]=Värdetabeller
Name[uk]=Таблиці значень
Name[x-test]=xxValue Tablesxx
Name[zh_CN]=数值表
Name[zh_TW]=數值表
Comment=Easily create value tables
Comment[bs]=Jednostavno kreiranje tablica vrijednosti
Comment[ca]=Crea taules de valors de forma senzilla
Comment[ca@valencia]=Crea taules de valors de forma senzilla
Comment[cs]=Jednoduše vytvářejte tabulky hodnot
Comment[da]=Nem oprettelse af værditabeller
Comment[de]=Wertetabellen einfach erstellen
Comment[el]=Δημιουργείστε εύκολα πίνακες τιμών 
Comment[es]=Proporciona una miniaplicación que le permite crear tablas de valores fácilmente
Comment[et]=Lihtne väärtustabelite loomine
Comment[eu]=Sortu balio taulak era errazean
Comment[fi]=Luo arvotaulukoita helposti
Comment[fr]=Crée facilement des tableaux de valeurs
Comment[gl]=Crea facilmente táboas de valores
Comment[hu]=Értéktáblázatok egyszerű létrehozása
Comment[it]=Crea facilmente tabelle di valori
Comment[kk]=Мәндерді оңай кестелеу
Comment[km]=ងាយស្រួល​បង្កើត​តារាង​តម្លៃ
Comment[lv]=Vienkārši izveido vērtību tabulas
Comment[nb]=Lag verditabeller lett
Comment[nds]=Weertentabellen opstellen
Comment[nl]=gemakkelijk waardetabellen aanmaken
Comment[pl]=Łatwo twórz tabele wartości
Comment[pt]=Criar facilmente tabelas de valores
Comment[pt_BR]=Criar facilmente tabelas de valores
Comment[sk]=Jednoducho vytvoriť tabuľky hodnôt
Comment[sl]=Enostavno ustvarite razpredelnice vrednosti
Comment[sv]=Skapa enkelt värdetabeller
Comment[uk]=Спрощує створення таблиць значень
Comment[x-test]=xxEasily create value tablesxx
Comment[zh_CN]=方便的创建数值表
Comment[zh_TW]=輕易建立數值表格

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=Tables.qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KAlgebra-Priority=10
