[Desktop Entry]
Icon=help-about
Type=Service
ServiceTypes=KAlgebra/Script

Name=About KAlgebra
Name[cs]=O aplikaci KAlgebra
Name[es]=Acerca de KAlgebra
Name[hu]=A KAlgebra névjegye
Name[nb]=Om KAlgebra
Name[nl]=Over KAlgebra
Name[pl]=O KAlgebra
Name[pt]=Acerca do KAlgebra
Name[pt_BR]=Sobre o KAlgebra
Name[sv]=Om Kalgebra
Name[uk]=Про KAlgebra
Name[x-test]=xxAbout KAlgebraxx

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=About.qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KAlgebra-Priority=-1
