[Desktop Entry]
Icon=kspread
Type=Service
ServiceTypes=KAlgebra/Script

Name=Value Tables
Name[bg]=Таблици със стойности
Name[bs]=Tabele vrijednosti
Name[ca]=Taules de valors
Name[ca@valencia]=Taules de valors
Name[da]=Værditabeller
Name[de]=Wertetabellen
Name[en_GB]=Value Tables
Name[es]=Tablas de valores
Name[et]=Väärtustabelid
Name[fi]=Arvotaulukot
Name[fr]=Tableaux de valeurs
Name[gl]=Táboas de valores
Name[it]=Tabelle dei valori
Name[km]=តារាង​តម្លៃ
Name[ko]=값 테이블
Name[lt]=Reikšmių lentelės
Name[nb]=Verditabeller
Name[nds]=Weertentabellen
Name[nl]=Waardetabellen
Name[pl]=Tablice wartości
Name[pt]=Tabelas de Valores
Name[pt_BR]=Tabelas de valores
Name[sl]=Razpredelnice vrednosti
Name[sv]=Värdetabeller
Name[uk]=Таблиці значень
Name[x-test]=xxValue Tablesxx
Name[zh_TW]=數值表
Comment=Provides an applet that lets you create value tables easily

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=Tables.qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
