[Desktop Entry]
Icon=konsole
Type=Service
ServiceTypes=KAlgebra/Script

Name=Console
Name[bg]=Конзола
Name[bs]=Konzola
Name[ca]=Consola
Name[ca@valencia]=Consola
Name[cs]=Konzole
Name[da]=Konsol
Name[de]=Konsole
Name[en_GB]=Console
Name[es]=Consola
Name[et]=Konsool
Name[eu]=Kontsola
Name[fi]=Konsoli
Name[fr]=Console
Name[gl]=Consola
Name[hu]=Konzol
Name[it]=Console
Name[ja]=コンソール
Name[kk]=Консоль
Name[km]=កុងសូល
Name[ko]=콘솔
Name[lt]=Pultas
Name[nb]=Konsoll
Name[nds]=Konsool
Name[nl]=Console
Name[pa]=ਕਨਸੋਲ
Name[pl]=Konsola
Name[pt]=Consola
Name[pt_BR]=Console
Name[sl]=Konzola
Name[sv]=Terminal
Name[ug]=تىزگىن سۇپا
Name[uk]=Консоль
Name[x-test]=xxConsolexx
Name[zh_CN]=控制台
Name[zh_TW]=主控台
Comment=Scientific calculator
Comment[ca]=Calculadora científica
Comment[cs]=Vědecká kalkulačka
Comment[de]=Wissenschaftlicher Taschenrechner
Comment[es]=Calculadora científica
Comment[eu]=Kalkulagailu zientifikoa
Comment[hu]=Tudományos számológép
Comment[nb]=Vitenskapelig kalkulator
Comment[nds]=Wetenschaplich Taschenreekner
Comment[nl]=Wetenschappelijke rekenmachine
Comment[pt]=Calculadora científica
Comment[pt_BR]=Calculadora científica
Comment[sv]=Vetenskaplig miniräknare
Comment[uk]=Калькулятор для науковців
Comment[x-test]=xxScientific calculatorxx
Comment[zh_CN]=科学计算器
Comment[zh_TW]=科學計算機

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=Console.qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KAlgebra-Priority=100
