[Desktop Entry]
Icon=document-properties
Type=Service
ServiceTypes=KAlgebra/Script

Name=Variables
Name[bg]=Променливи
Name[bs]=Promjenljive
Name[ca]=Variables
Name[ca@valencia]=Variables
Name[cs]=Proměnné
Name[da]=Variabler
Name[de]=Variablen
Name[en_GB]=Variables
Name[es]=Variables
Name[et]=Muutujad
Name[fi]=Muuttujat
Name[fr]=Variables
Name[it]=Variabili
Name[kk]=Айнымалылар
Name[km]=អថេរ
Name[ko]=변수
Name[lv]=Mainīgie
Name[nds]=Variabeln
Name[nl]=Variabelen
Name[pa]=ਵੇਰੀਬਲ
Name[pl]=Zmienne
Name[pt]=Variáveis
Name[pt_BR]=Variáveis
Name[ru]=Переменные
Name[sk]=Premenné
Name[sl]=Spremenljivke
Name[sv]=Variabler
Name[ug]=ئۆزگەرگۈچىلەر
Name[uk]=Змінні
Name[x-test]=xxVariablesxx
Name[zh_CN]=变量
Name[zh_TW]=變數
Comment=Displays the stored values
Comment[pt]=Mostra os valores guardados
Comment[sk]=Zobrazí uložené hodnoty
Comment[sv]=Visar de lagrade värdena
Comment[uk]=Показує збережені значення
Comment[x-test]=xxDisplays the stored valuesxx
Comment[zh_TW]=顯示已儲存的值

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=VariablesView.qml
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KAlgebra-Priority=0
