[Desktop Entry]
Name=KAlgebra
Name[hi]=के-अलजेब्रा
Name[hne]=के-अलजेब्रा
Name[ml]=കെ-ആള്‍ജിബ്ര
Name[ne]=केडीई बीजगणित
Name[pa]=ਕੇ-ਐਲਜਬਰਾ
Name[sv]=Kalgebra
Name[uk]=KАлгебра
Name[x-test]=xxKAlgebraxx
Icon=kalgebra
Comment=A Calculator
Comment[ca]=Una calculadora
Comment[cs]=Kalkulátor
Comment[da]=En regnemaskine
Comment[de]=Ein Taschenrechner
Comment[el]=Ένας υπολογιστής
Comment[es]=Una calculadora
Comment[et]=Arvutaja
Comment[fi]=Laskin
Comment[fr]=Un calculateur
Comment[ga]=Áireamhán
Comment[gl]=Unha calculadora
Comment[gu]=કેલ્ક્યુલેટર
Comment[he]=מחשבון
Comment[hne]=गनक
Comment[is]=Reiknivél
Comment[it]=Una calcolatrice
Comment[ja]=計算機
Comment[km]=ម៉ាស៊ីន​គិតលេខ
Comment[ko]=계산기
Comment[lt]=Skaičiuotuvas
Comment[lv]=Kalkulators
Comment[ml]=ഗണനി
Comment[nb]=En kalkulator
Comment[nds]=En Rekenprogramm
Comment[nl]=Een rekenmachine
Comment[nn]=Tekstbasert kalkulator
Comment[pa]=ਇੱਕ ਕੈਲਕੂਲੇਟਰ
Comment[pl]=Kalkulator
Comment[pt]=Uma Calculadora
Comment[pt_BR]=Uma calculadora
Comment[ro]=Un calculator
Comment[ru]=Калькулятор
Comment[sv]=Kalkylator
Comment[tr]=Bir Hesap Makinesi
Comment[uk]=Калькулятор
Comment[x-test]=xxA Calculatorxx
Comment[zh_CN]=一个计算器
Comment[zh_TW]=計算器
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kalgebra
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@gmail.com
X-KDE-PluginInfo-Name=kalgebraplasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
