[Desktop Entry]
Encoding=UTF-8
Name=KAlgebra
Icon=kalgebra
Name[hi]=के-अलजेब्रा
Name[ne]=केडीई बीजगणित
Name[pa]=ਕੇ-ਐਲਜਬਰਾ
Name[sv]=Kalgebra
Name[uk]=KАлгебра
Name[x-test]=xxKAlgebraxx
Comment=A Calculator
Comment[el]=Ένας υπολογιστής
Comment[fi]=Laskin
Comment[ga]=Áireamhán
Comment[tr]=Bir Hesap Makinesi
Comment[uk]=Калькулятор
Comment[zh_TW]=計算器
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kalgebra
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@gmail.com
X-KDE-PluginInfo-Name=kalgebraplasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/
X-KDE-PluginInfo-Category=Edu
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
