[Desktop Entry]
Name=KAlgebra
Name[bg]=KAlgebra
Name[bs]=Kalgebra
Name[ca]=KAlgebra
Name[ca@valencia]=KAlgebra
Name[cs]=KAlgebra
Name[csb]=KAlgebra
Name[da]=KAlgebra
Name[de]=KAlgebra
Name[el]=KAlgebra
Name[en_GB]=KAlgebra
Name[eo]=KAlgebra
Name[es]=KAlgebra
Name[et]=KAlgebra
Name[eu]=KAlgebra
Name[fa]=KAlgebra
Name[fi]=KAlgebra
Name[fr]=KAlgebra
Name[ga]=KAlgebra
Name[gl]=KAlgebra
Name[gu]=KAlgebra
Name[he]=KAlgebra
Name[hi]=के-अलजेब्रा
Name[hne]=के-अलजेब्रा
Name[hr]=KAlgebra
Name[hu]=KAlgebra
Name[is]=KAlgebra
Name[it]=KAlgebra
Name[ja]=KAlgebra
Name[kk]=KAlgebra
Name[km]=KAlgebra
Name[ko]=KAlgebra
Name[lt]=KAlgebra
Name[lv]=KAlgebra
Name[ml]=കെ-ആള്‍ജിബ്ര
Name[mr]=के-एल्जिब्रा
Name[nb]=KAlgebra
Name[nds]=KAlgebra
Name[ne]=केडीई बीजगणित
Name[nl]=KAlgebra
Name[nn]=KAlgebra
Name[pa]=ਕੇ-ਐਲਜਬਰਾ
Name[pl]=KAlgebra
Name[pt]=KAlgebra
Name[pt_BR]=KAlgebra
Name[ro]=KAlgebra
Name[ru]=KAlgebra
Name[si]=KAlgebra
Name[sk]=KAlgebra
Name[sl]=KAlgebra
Name[sv]=Kalgebra
Name[te]=కె అల్జీబ్రా
Name[tr]=KAlgebra
Name[ug]=KAlgebra
Name[uk]=KАлгебра
Name[x-test]=xxKAlgebraxx
Name[zh_CN]=KAlgebra
Name[zh_TW]=數學_KAlgebra
Icon=kalgebra
Comment=A Calculator
Comment[bg]=Калкулатор
Comment[bs]=Kalkulator
Comment[ca]=Una calculadora
Comment[ca@valencia]=Una calculadora
Comment[cs]=Kalkulačka
Comment[da]=En regnemaskine
Comment[de]=Ein Taschenrechner
Comment[el]=Ένας μικροϋπολογιστής
Comment[en_GB]=A Calculator
Comment[es]=Una calculadora
Comment[et]=Arvutaja
Comment[eu]=Kalkulagailu bat
Comment[fa]=یک ماشین حساب
Comment[fi]=Laskin
Comment[fr]=Une calculatrice
Comment[ga]=Áireamhán
Comment[gl]=Unha calculadora
Comment[gu]=કેલ્ક્યુલેટર
Comment[he]=מחשבון
Comment[hne]=गनक
Comment[hr]=Kalkulator
Comment[hu]=Algebrai számológép
Comment[is]=Reiknivél
Comment[it]=Una calcolatrice
Comment[ja]=計算機
Comment[kk]=Калькулятор
Comment[km]=ម៉ាស៊ីន​គិត​លេខ
Comment[ko]=계산기
Comment[lt]=Skaičiuotuvas
Comment[lv]=Kalkulators
Comment[ml]=ഗണനി
Comment[mr]=गणकयंत्र
Comment[nb]=En kalkulator
Comment[nds]=En Rekenprogramm
Comment[nl]=Een rekenmachine
Comment[nn]=Kalkulator
Comment[pa]=ਇੱਕ ਕੈਲਕੂਲੇਟਰ
Comment[pl]=Kalkulator
Comment[pt]=Uma Calculadora
Comment[pt_BR]=Uma calculadora
Comment[ro]=Un calculator
Comment[ru]=Калькулятор
Comment[sk]=Kalkulačka
Comment[sl]=Računalo
Comment[sv]=Kalkylator
Comment[te]=గనన యంత్రము
Comment[tr]=Bir Hesap Makinesi
Comment[ug]=ھېسابلىغۇچ
Comment[uk]=Калькулятор
Comment[x-test]=xxA Calculatorxx
Comment[zh_CN]=一个计算器
Comment[zh_TW]=計算器
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kalgebra
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=kalgebraplasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://edu.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
