[Desktop Entry]
Name=KAlgebra
GenericName=Pocket Graph Calculator
Comment=Pocket Math Expression Solver and Plotter
Exec=/opt/kalgebra/bin/kalgebra_hack.sh
MimeType=application/x-kalgebra;
Icon=kalgebraharmattan
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Math;
