[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KAlgebra/Script
X-KDE-Derived=KPluginInfo
Name=KAlgebra Script
Name[ast]=KAlgebra Script
Name[ca]=KAlgebra script
Name[ca@valencia]=KAlgebra script
Name[da]=KAlgebra Script
Name[en_GB]=KAlgebra Script
Name[es]=Script de KAlgebra
Name[et]=KAlgebra skript
Name[gl]=Script de KAlgebra
Name[it]=KAlgebra Script
Name[km]=KAlgebra Script
Name[nb]=KAlgebra-skript
Name[nl]=Script voor KAlgebra
Name[pa]=ਕੇ-ਐਲਜਬਰਾ ਸਕ੍ਰਿਪਟ
Name[pt]=Programa do KAlgebra
Name[pt_BR]=Script do KAlgebra
Name[sv]=Kalgebra-skript
Name[uk]=Скрипт KAlgebra
Name[x-test]=xxKAlgebra Scriptxx
Name[zh_TW]=KAlgebra 文稿

[PropertyDef::X-KAlgebra-Priority]
Type=int
