[Desktop Entry]
Name=KAlgebra Mobile
Name[ast]=KAlgebra Mobile
Name[ca]=KAlgebra mòbil
Name[ca@valencia]=KAlgebra mòbil
Name[da]=KAlgebra Mobile
Name[de]=KAlgebra Mobil
Name[en_GB]=KAlgebra Mobile
Name[es]=KAlgebra móvil
Name[et]=KAlgebra mobiilis
Name[gl]=KAlgebra Mobile
Name[it]=KAlgebra Mobile
Name[km]=KAlgebra Mobile
Name[nb]=KAlgebra mobil
Name[nds]=KAlgebra för Mobilreedschappen
Name[nl]=KAlgebra-mobiel
Name[pa]=ਕੇ-ਐਲਜਬਰਾ ਮੋਬਾਇਲ
Name[pt]=KAlgebra Móvel
Name[pt_BR]=KAlgebra Móvel
Name[sv]=Kalgebra för mobil
Name[uk]=Мобільна KAlgebra
Name[x-test]=xxKAlgebra Mobilexx
Name[zh_TW]=KAlgebra 行動版
GenericName=Pocket Graph Calculator
GenericName[ast]=Calculadora gráfica de bolsiellu
GenericName[ca]=Calculadora gràfica de butxaca
GenericName[ca@valencia]=Calculadora gràfica de butxaca
GenericName[da]=Graflommeregner
GenericName[de]=Graphen-Taschenrechner
GenericName[en_GB]=Pocket Graph Calculator
GenericName[es]=Calculadora gráfica de bolsillo
GenericName[et]=Graafikute arvutaja taskus
GenericName[gl]=Calculadora gráfica de peto
GenericName[it]=Calcolatrice grafica tascabile
GenericName[ja]=ポケットグラフ計算機
GenericName[km]=ម៉ាស៊ីន​គិត​លេខ​ក្រាហ្វិក​ដែល​ដាក់​តាម​ខ្លួន​បាន
GenericName[nb]=Grafikk-lommekalkulator
GenericName[nds]=Taschenreekner för Diagrammen
GenericName[nl]=Zakrekenmachine met grafieken
GenericName[pa]=ਪਾਕਟ ਗਰਾਫ਼ ਕੈਲਕੂਲੇਟਰ
GenericName[pt]=Calculadora Gráfica Portátil
GenericName[pt_BR]=Calculadora gráfica portátil
GenericName[sv]=Grafminiräknare
GenericName[uk]=Кишеньковий графічний калькулятор
GenericName[x-test]=xxPocket Graph Calculatorxx
GenericName[zh_TW]=行動版圖形計算器
Comment=Pocket Math Expression Solver and Plotter
Comment[ca]=Solucionador i representador gràfic de butxaca d'expressions matemàtiques
Comment[ca@valencia]=Solucionador i representador gràfic de butxaca d'expressions matemàtiques
Comment[da]=Lommeregner til at løse og plotte matematiske udtryk
Comment[de]=Mathematischer Taschengleichungslöser und -zeichner
Comment[en_GB]=Pocket Maths Expression Solver and Plotter
Comment[es]=Resuelve y dibuja expresiones matemáticas
Comment[et]=Matemaatiliste avaldiste lahendaja ja joonistaja taskus
Comment[gl]=Resolve e debuxa expresións matemáticas
Comment[it]=Risolutore e disegnatore tascabile di espressioni matematiche
Comment[ja]=ポケット数式ソルバー＆プロッタ
Comment[km]=ឧបករណ៍​គូស​ក្រាហ្វិក និង​កម្មវិធី​ដោះស្រាយ​កន្សោម​​​គណិត​ដែល​ដាក់​តាម​ខ្លួន​បាន​
Comment[nb]=Matematisk uttrykksløser og plotter i lomma
Comment[nds]=Taschenreekner för't Lösen un Utdrucken vun Diagrammen
Comment[nl]=Op zak oplossen en plotten van wiskundige uitdrukkingen
Comment[pt]=Resolução e Desenho de Expressões Matemáticas Portátil
Comment[pt_BR]=Solucionador e visualizador portátil de expressões matemáticas
Comment[sv]=Lösning och uppritning av matematiska uttryck i fickformat
Comment[uk]=Кишеньковий розв’язувач математичних рівнянь та графопобудовник
Comment[x-test]=xxPocket Math Expression Solver and Plotterxx
Comment[zh_TW]=行動版數學解題與繪圖
Exec=kalgebramobile
MimeType=application/x-kalgebra;
Icon=kalgebra
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Math;
