[Desktop Entry]
Name=KAlgebra Mobile
Name[ast]=KAlgebra Mobile
Name[ca]=KAlgebra mòbil
Name[en_GB]=KAlgebra Mobile
Name[es]=KAlgebra móvil
Name[et]=KAlgebra mobiilis
Name[nb]=KAlgebra mobil
Name[nl]=KAlgebra-mobiel
Name[pt]=KAlgebra Móvel
Name[pt_BR]=KAlgebra Móvel
Name[sv]=Kalgebra för mobil
Name[uk]=Мобільна KAlgebra
Name[x-test]=xxKAlgebra Mobilexx
Name[zh_TW]=KAlgebra 行動版
GenericName=Pocket Graph Calculator
GenericName[ast]=Calculadora gráfica de bolsiellu
GenericName[ca]=Calculadora gràfica de butxaca
GenericName[en_GB]=Pocket Graph Calculator
GenericName[es]=Calculadora gráfica de bolsillo
GenericName[et]=Graafikute arvutaja taskus
GenericName[nb]=Grafikk-lommekalkulator
GenericName[nl]=Zakrekenmachine met grafieken
GenericName[pt]=Calculadora Gráfica Portátil
GenericName[pt_BR]=Calculadora gráfica portátil
GenericName[sv]=Grafminiräknare
GenericName[uk]=Кишеньковий графічний калькулятор
GenericName[x-test]=xxPocket Graph Calculatorxx
GenericName[zh_TW]=行動版圖形計算器
Comment=Pocket Math Expression Solver and Plotter
Comment[ca]=Solucionador i representador gràfic de butxaca d'expressions matemàtiques
Comment[en_GB]=Pocket Maths Expression Solver and Plotter
Comment[es]=Resuelve y dibuja expresiones matemáticas
Comment[et]=Matemaatiliste avaldiste lahendaja ja joonistaja taskus
Comment[nb]=Matematisk uttrykksløser og plotter i lomma
Comment[nl]=Op zak oplossen en plotten van wiskundige uitdrukkingen
Comment[pt]=Resolução e Desenho de Expressões Matemáticas Portátil
Comment[pt_BR]=Solucionador e visualizador portátil de expressões matemáticas
Comment[sv]=Lösning och uppritning av matematiska uttryck i fickformat
Comment[uk]=Кишеньковий розв’язувач математичних рівнянь та графопобудовник
Comment[x-test]=xxPocket Math Expression Solver and Plotterxx
Comment[zh_TW]=行動版數學解題與繪圖
Exec=kalgebramobile
MimeType=application/x-kalgebra;
Icon=kalgebra
Type=Application
X-DocPath=kalgebra/index.html
Terminal=false
Categories=Qt;KDE;Education;Math;
