[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KAlgebra/Script
X-KDE-Derived=KPluginInfo
Name=KAlgebra Script
Name[ast]=KAlgebra Script
Name[bg]=Скрипт на KAlgebra
Name[bs]=Kalgebra Skripta
Name[ca]=KAlgebra script
Name[ca@valencia]=KAlgebra script
Name[cs]=Skript KAlgebra
Name[da]=KAlgebra Script
Name[de]=KAlgebra-Skript
Name[en_GB]=KAlgebra Script
Name[es]=Script de KAlgebra
Name[et]=KAlgebra skript
Name[fr]=Script KAlgebra
Name[gl]=Script de KAlgebra
Name[it]=KAlgebra Script
Name[ja]=KAlgebra スクリプト
Name[km]=KAlgebra Script
Name[ko]=KAlgebra 스크립트
Name[nb]=KAlgebra-skript
Name[nds]=KAlgebra-Skript
Name[nl]=Script voor KAlgebra
Name[pa]=ਕੇ-ਐਲਜਬਰਾ ਸਕ੍ਰਿਪਟ
Name[pl]=Skrypt KAlgebra
Name[pt]=Programa do KAlgebra
Name[pt_BR]=Script do KAlgebra
Name[sl]=Skript KAlgebra
Name[sv]=Kalgebra-skript
Name[uk]=Скрипт KAlgebra
Name[x-test]=xxKAlgebra Scriptxx
Name[zh_CN]=KAlgebra 脚本
Name[zh_TW]=KAlgebra 文稿

[PropertyDef::X-KAlgebra-Priority]
Type=int
