[Desktop Entry]
Name=KAlgebra Mobile
Name[ar]=جبرك للمحمول
Name[bg]=KAlgebra (мобилен)
Name[bs]=KAlgebra Mobile
Name[ca]=KAlgebra mòbil
Name[ca@valencia]=KAlgebra mòbil
Name[cs]=Mobilní KAlgebra
Name[da]=KAlgebra Mobile
Name[de]=KAlgebra Mobile
Name[el]=KAlgebra Mobile
Name[en_GB]=KAlgebra Mobile
Name[eo]=KAlgebra-Mobila
Name[es]=KAlgebra móvil
Name[et]=KAlgebra mobiilis
Name[eu]=KAlgebra mugikorra
Name[fa]=KAlgebra تلفن همراه
Name[fi]=KAlgebra mobiililaitteille
Name[fr]=KAlgebra Mobile
Name[ga]=KAlgebra Soghluaiste
Name[gl]=KAlgebra Mobile
Name[he]=KAlgebra לנייד
Name[hu]=KAlgebra Mobile
Name[ia]=KAlgebra Mobile
Name[is]=KAlgebra fyrir farsíma
Name[it]=KAlgebra Mobile
Name[ja]=KAlgebra モバイル
Name[ka]=მობილური KAlgebra
Name[kk]=KAlgebra Mobile
Name[km]=KAlgebra Mobile
Name[ko]=KAlgebra 모바일
Name[lt]=KAlgebra Mobile
Name[lv]=KAlgebra Mobile
Name[mr]=के-एल्जिब्रा मोबाईल
Name[nb]=KAlgebra mobil
Name[nds]=KAlgebra för Mobilreedschappen
Name[nl]=KAlgebra-mobiel
Name[nn]=KAlgebra mobil
Name[pa]=ਕੇ-ਐਲਜਬਰਾ ਮੋਬਾਇਲ
Name[pl]=Przenośna KAlgebra
Name[pt]=KAlgebra Móvel
Name[pt_BR]=KAlgebra Móvel
Name[ru]=Мобильная KAlgebra
Name[sk]=KAlgebra Mobile
Name[sl]=KAlgebra Mobile
Name[sv]=Kalgebra för mobil
Name[te]=కె అల్జీబ్రా మొబైలు
Name[tr]=K Cebir Cep
Name[ug]=كۆچمە ئۈسكۈنىلەر ئۈچۈن KAlgebra
Name[uk]=Мобільна KAlgebra
Name[x-test]=xxKAlgebra Mobilexx
Name[zh_CN]=KAlgebra 移动
Name[zh_TW]=KAlgebra 行動版
GenericName=Pocket Graph Calculator
GenericName[ar]=حاسبة رسومية للجيب
GenericName[bg]=Джобен графичен калкулатор
GenericName[bs]=Džepni graf kalkulator
GenericName[ca]=Calculadora gràfica de butxaca
GenericName[ca@valencia]=Calculadora gràfica de butxaca
GenericName[cs]=Kapesní grafická kalkulačka
GenericName[da]=Graflommeregner
GenericName[de]=Graphen-Taschenrechner
GenericName[el]=Φορητός γραφικός υπολογιστής
GenericName[en_GB]=Pocket Graph Calculator
GenericName[eo]=Poŝa Grafeokalkulilo
GenericName[es]=Calculadora gráfica de bolsillo
GenericName[et]=Graafikute arvutaja taskus
GenericName[eu]=Sakelako grafikoen kalkulagailua
GenericName[fa]=ماشین حساب جیبی گراف
GenericName[fi]=Graafinen laskin mobiililaitteille
GenericName[fr]=Calculatrice graphique de poche
GenericName[ga]=Áireamhán Grafach Póca
GenericName[gl]=Calculadora gráfica de peto
GenericName[he]=מחשבון גרפי נייד
GenericName[hu]=Zsebszámológép
GenericName[ia]=Calculator Graphic de Tasca
GenericName[is]=Vasareiknir fyrir gröf
GenericName[it]=Calcolatrice grafica tascabile
GenericName[ja]=ポケットグラフ計算機
GenericName[ka]=ჯიბის გრაფიკული კალკულატორი
GenericName[kk]=Ықшам график калькуляторы
GenericName[km]=ម៉ាស៊ីន​គិត​លេខ​ក្រាហ្វិក​ដែល​ដាក់​តាម​ខ្លួន​បាន
GenericName[ko]=포켓 그래핑 계산기
GenericName[lt]=Kišeninis grafinis skaičiuotuvas
GenericName[lv]=Kabatas grafiskais kalkulators
GenericName[mr]=पाकिट आलेख गणकयंत्र
GenericName[nb]=Grafikk-lommekalkulator
GenericName[nds]=Taschenreekner för Diagrammen
GenericName[nl]=Zakrekenmachine met grafieken
GenericName[nn]=Grafisk lommereknar
GenericName[pa]=ਪਾਕਟ ਗਰਾਫ਼ ਕੈਲਕੂਲੇਟਰ
GenericName[pl]=Kieszonkowy kalkulator graficzny
GenericName[pt]=Calculadora Gráfica Portátil
GenericName[pt_BR]=Calculadora gráfica portátil
GenericName[ru]=Карманный графический калькулятор
GenericName[sk]=Vrecková grafická kalkulačka
GenericName[sl]=Žepno računalo z grafi
GenericName[sv]=Grafminiräknare
GenericName[te]=జేబులొ పట్టే రేఖాచిత్రం గనన యంత్రము
GenericName[tr]=Cep Grafik Hesap Makinesi
GenericName[uk]=Кишеньковий графічний калькулятор
GenericName[x-test]=xxPocket Graph Calculatorxx
GenericName[zh_CN]=口袋图形计算器
GenericName[zh_TW]=行動版圖形計算器
Comment=Pocket Math Expression Solver and Plotter
Comment[ar]=حلّال ورسّام التعابير الرياضية للجيب
Comment[bg]=Джобен инструмент за решаване на математически задачи
Comment[bs]=Matematski sistem za rješavanje i crtač
Comment[ca]=Solucionador i representador gràfic de butxaca d'expressions matemàtiques
Comment[ca@valencia]=Solucionador i representador gràfic de butxaca d'expressions matemàtiques
Comment[cs]=Kapesní řešitel a souřadnicový zapisovač matematických výrazů
Comment[da]=Lommeregner til at løse og plotte matematiske udtryk
Comment[de]=Mathematischer Taschengleichungslöser und -zeichner
Comment[el]=Φορητός σχεδιαστής και επιλυτής μαθηματικών εκφράσεων
Comment[en_GB]=Pocket Maths Expression Solver and Plotter
Comment[eo]=Poŝa Esprimsolvilo kaj Desegnilo
Comment[es]=Resuelve y dibuja expresiones matemáticas
Comment[et]=Matemaatiliste avaldiste lahendaja ja joonistaja taskus
Comment[eu]=Sakelako matematika adierazpenen ebazlea edo trazatzailea
Comment[fa]=حل‌کننده جیبی عبارت ریاضی و رسام
Comment[fi]=Matemaattisten yhtälöiden ratkaisut ja kuvaajat mobiililaitteille
Comment[fr]=Traceur et résolveur de poche d'expressions mathématiques
Comment[ga]=Réiteoir agus Breacaire Matamaiticiúil don Phóca
Comment[gl]=Resolve e debuxa expresións matemáticas
Comment[he]=פותר ומשרטט ביטויים מתמטיים לנייד
Comment[hu]=Zsebszámológép matematikai kifejezések megoldására, görberajzolásra
Comment[ia]=Resolvitor e traciator de expression mathematic de tasca 
Comment[is]=Stærðfræðilausnir og plottun í vasann
Comment[it]=Risolutore e disegnatore tascabile di espressioni matematiche
Comment[ja]=ポケット数式ソルバー＆プロッタ
Comment[ka]=პატარა მათემატიკური გამოსახულებების ამომხსნელი და გრაფიკების მხატავი
Comment[kk]=Математикалық теңеуді шешіп графигін салу
Comment[km]=ឧបករណ៍​គូស​ក្រាហ្វិក និង​កម្មវិធី​ដោះស្រាយ​កន្សោម​​​គណិត​ដែល​ដាក់​តាម​ខ្លួន​បាន​
Comment[ko]=포켓 수식 계산기와 그래핑 도구
Comment[lt]=Matematinių reiškinių sprendikas ir grafikų braižiklis
Comment[lv]=Kabatas matemātisko izteiksmju risinātājs un attēlotājs
Comment[nb]=Matematisk uttrykksløser og plotter i lomma
Comment[nds]=Taschenreekner för't Lösen un Utdrucken vun Diagrammen
Comment[nl]=Op zak oplossen en plotten van wiskundige uitdrukkingen
Comment[nn]=Berbar matteoppgåveløysar og grafplottar
Comment[pl]=Kieszonkowe rozwiązywanie równań i rysowanie wykresów
Comment[pt]=Resolução e Desenho de Expressões Matemáticas Portátil
Comment[pt_BR]=Solucionador e visualizador portátil de expressões matemáticas
Comment[ru]=Карманное решение и построение графиков математических выражений
Comment[sk]=Vreckový riešiteľ a zapisovač matematických výrazov
Comment[sl]=Žepni reševalnik matematičnih enačb in risalnik grafov
Comment[sv]=Lösning och uppritning av matematiska uttryck i fickformat
Comment[tr]=Cep Matematiksel İfade Çözücü ve Çizici
Comment[ug]=كۆچمە ئۈسكۈنىلەر ئۈچۈن ماتېماتىكىلىق ئىپادىلەرنى يېشىش ۋە سىزىش قورالى
Comment[uk]=Кишеньковий розв’язувач математичних рівнянь та графопобудовник
Comment[x-test]=xxPocket Math Expression Solver and Plotterxx
Comment[zh_CN]=口袋数学式解决与绘图工具
Comment[zh_TW]=行動版數學解題與繪圖
Exec=kalgebramobile %u
MimeType=application/x-kalgebra;
Icon=kalgebra
Type=Application
Categories=Qt;KDE;Education;Math;Science;
