[Desktop Entry]
Icon=code-variable
Type=Service
ServiceTypes=KAlgebra/Script

Name=Variables
Name[ca]=Variables
Name[ca@valencia]=Variables
Name[cs]=Proměnné
Name[da]=Variabler
Name[de]=Variablen
Name[en_GB]=Variables
Name[es]=Variables
Name[et]=Muutujad
Name[fi]=Muuttujat
Name[gl]=Variábeis
Name[it]=Variabili
Name[ja]=変数
Name[km]=អថេរ
Name[nb]=Variabler
Name[nl]=Variabelen
Name[pa]=ਵੇਰੀਬਲ
Name[pt]=Variáveis
Name[pt_BR]=Variáveis
Name[ru]=Переменные
Name[sv]=Variabler
Name[uk]=Змінні
Name[x-test]=xxVariablesxx
Name[zh_TW]=變數
Comment=Provides an enumeration of all defined variables
Comment[ca]=Enumera totes les variables definides
Comment[ca@valencia]=Enumera totes les variables definides
Comment[da]=Giver en nummerering af alle definerede værdier
Comment[de]=Stellt eine Aufzählung aller definierten Variablen bereit
Comment[en_GB]=Provides an enumeration of all defined variables
Comment[es]=Proporciona una enumeración de todas las variables definidas
Comment[et]=Kõigi defineeritud muutujate loend
Comment[gl]=Fornece unha enumeración de todas as variábeis definidas
Comment[it]=Fornisce un elenco di tutte le variabili definite
Comment[km]=ផ្ដល់​នូវ​ការ​រាយ​ឈ្មោះ​អថេរ​ទាំង​អស់​ដែល​បាន​កំណត់
Comment[nb]=Gir en oppregning av alle definerte variabler
Comment[nl]=Biedt en opsomming van alle gedefinieerde variabelen
Comment[pt]=Fornece uma enumeração de todas as variáveis definidas
Comment[pt_BR]=Fornece uma enumeração de todas as variáveis definidas
Comment[ru]=Список всех определённых переменных
Comment[sv]=Tillhandahåller en uppräkning av alla variabler
Comment[uk]=Показує перелік всіх визначених змінних
Comment[x-test]=xxProvides an enumeration of all defined variablesxx
Comment[zh_TW]=提供所有已定義變數的列舉。

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=variables/variables.js
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
