[Desktop Entry]
Icon=draw-bezier-curves
Type=Service
ServiceTypes=KAlgebra/Script

Name=Graph 2D
Name[bg]=Двуизмерна графика
Name[bs]=Graf 2D
Name[ca]=Gràfic 2D
Name[ca@valencia]=Gràfic 2D
Name[da]=Graph 2D
Name[de]=Graph 2D
Name[en_GB]=Graph 2D
Name[es]=Gráfico 2D
Name[et]=2D graaf
Name[fr]=Graphique 2D
Name[gl]=Grafo 2D
Name[it]=Grafico 3
Name[ja]=グラフ 2D
Name[km]=ក្រាហ្វិក​ទ្វេមាត្រ
Name[ko]=2차원 그래프
Name[nb]=Graf 2D
Name[nds]=2D-Diagramm
Name[nl]=2D-grafiek
Name[pa]=ਗਰਾਫ਼ 2D
Name[pl]=Wykres 2D
Name[pt]=Gráfico 2D
Name[pt_BR]=Gráfico em 2D
Name[sl]=2D graf
Name[sv]=Graf-2D
Name[uk]=Двовимірний графік
Name[x-test]=xxGraph 2Dxx
Name[zh_CN]=二维图
Name[zh_TW]=平面圖形
Comment=Draws any 2D graph you want
Comment[bg]=Изчертаване на двуизмерна графика
Comment[ca]=Dibuixa qualsevol gràfic 2D que desitgeu
Comment[ca@valencia]=Dibuixa qualsevol gràfic 2D que desitgeu
Comment[da]=Tegner enhver 2D-graf du måtte ønske
Comment[de]=Zeichnet jeden gewünschten 2D-Graphen
Comment[en_GB]=Draws any 2D graph you want
Comment[es]=Dibuja cualquier gráfico 2D que desee
Comment[et]=Suvalise 2D graafi joonistamine
Comment[fr]=Dessine n'importe quel graphique 2D
Comment[gl]=Debuxa todos os grafos 2D que queiras
Comment[it]=Disegna qualsiasi grafico 2D tu voglia
Comment[km]=គូស​ក្រាហ្វិក​ទ្វេ​មាត្រ​ដែល​អ្នក​ត្រូវ​ការ
Comment[ko]=임의의 2차원 그래프 그리기
Comment[nb]=Tegner den 2D-grafen du vil
Comment[nds]=2D-Diagrammen teken
Comment[nl]=Tekent elke wenselijke 2D-grafiek
Comment[pl]=Rysuje wykres 2D jakikolwiek chcesz
Comment[pt]=Desenha qualquer gráfico 2D que desejar
Comment[pt_BR]=Desenha qualquer gráfico 2D que desejar
Comment[sl]=Nariše poljuben 2D graf
Comment[sv]=Ritar vilken tvådimensionell graf som helst
Comment[uk]=Креслить будь-які двовимірні графіки
Comment[x-test]=xxDraws any 2D graph you wantxx
Comment[zh_CN]=绘制想要的二维图
Comment[zh_TW]=讓您繪製平面圖形

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=plot2d/plot2d.js
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
