[Desktop Entry]
Icon=konsole
Type=Service
ServiceTypes=KAlgebra/Script

Name=Console
Comment=Provides a console to use KAlgebra as a calculator

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=console/console.js
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
