[Desktop Entry]
Icon=konsole
Type=Service
ServiceTypes=KAlgebra/Script

Name=Console
Name[ca]=Consola
Name[ca@valencia]=Consola
Name[da]=Konsol
Name[de]=Konsole
Name[en_GB]=Console
Name[es]=Consola
Name[et]=Konsool
Name[fr]=Console
Name[gl]=Consola
Name[it]=Console
Name[km]=កុងសូល
Name[nb]=Konsoll
Name[nl]=Console
Name[pa]=ਕਨਸੋਲ
Name[pt]=Consola
Name[pt_BR]=Console
Name[sv]=Terminal
Name[uk]=Консоль
Name[x-test]=xxConsolexx
Name[zh_TW]=主控台
Comment=Provides a console to use KAlgebra as a calculator
Comment[ca]=Ofereix una consola per utilitzar el KAlgebra com a calculadora
Comment[ca@valencia]=Ofereix una consola per utilitzar el KAlgebra com a calculadora
Comment[da]=Giver en konsol så KAlgebra kan bruges som lommeregner
Comment[en_GB]=Provides a console to use KAlgebra as a calculator
Comment[es]=Proporciona una consola para usar KAlgebra como calculadora
Comment[et]=Konsool, mida KAlgebra saab kasutada arvutamiseks
Comment[fr]=Fournit une console pour utiliser KAlgebra comme une calculatrice
Comment[gl]=Fornece unha consola para poder empregar o KAlgebra como calculadora
Comment[it]=Fornisce una console per usare KAlgebra come calcolatrice
Comment[km]=ផ្ដល់​នូវ​កុងសូល​ដើម្បី​ប្រើ​ KAlgebra ជា​ម៉ាស៊ីន​គិត​លេខ
Comment[nb]=Tilbyr et konsoll for å bruke KAlgebra som en kalkulator
Comment[nl]=Biedt een console om KAlgebra als rekenmachine te gebruiken
Comment[pt]=Oferece uma consola para usar o KAlgebra como uma calculadora
Comment[pt_BR]=Fornece um console para usar o KAlgebra como uma calculadora
Comment[sv]=Tillhandahåller en terminal för att använda Kalgebra som miniräknare
Comment[uk]=Забезпечує роботу консолі-калькулятора на основі KAlgebra
Comment[x-test]=xxProvides a console to use KAlgebra as a calculatorxx
Comment[zh_TW]=提供主控台以使用 KAlgebra 做為計算機

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=console/console.js
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KAlgebra-Priority=0
