[Desktop Entry]
Icon=konsole
Type=Service
ServiceTypes=KAlgebra/Script

Name=Console
Name[es]=Consola
Name[et]=Konsool
Name[pt]=Consola
Name[pt_BR]=Console
Name[sv]=Terminal
Name[uk]=Консоль
Name[x-test]=xxConsolexx
Comment=Provides a console to use KAlgebra as a calculator
Comment[es]=Proporciona una consola para usar KAlgebra como calculadora
Comment[et]=Konsool, mida KAlgebra saab kasutada arvutamiseks
Comment[pt]=Oferece uma consola para usar o KAlgebra como uma calculadora
Comment[pt_BR]=Fornece um console para usar o KAlgebra como uma calculadora
Comment[sv]=Tillhandahåller en terminal för att använda Kalgebra som miniräknare
Comment[uk]=Забезпечує роботу консолі-калькулятора на основі KAlgebra
Comment[x-test]=xxProvides a console to use KAlgebra as a calculatorxx

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=console/console.js
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
