[Desktop Entry]
Encoding=UTF-8
Name=KAlgebra
Name[ne]=केडीई बीजगणित
Name[sv]=Kalgebra
Name[uk]=KАлгебра
GenericName=Graph Calculator
GenericName[bg]=Графичен калкулатор
GenericName[el]=Γραφικός υπολογιστής
GenericName[es]=Calculadora gráfica
GenericName[fa]=ماشین حساب گراف
GenericName[ga]=Áireamhán Grafach
GenericName[ja]=グラフ計算機
GenericName[ne]=ग्राफ गणकयन्त्र
GenericName[nn]=Ein grafkalkulator
GenericName[pt]=Calculadora Gráfica
GenericName[pt_BR]=Calculadora Gráfica
GenericName[sv]=Grafräknare
GenericName[uk]=Графічний калькулятор
GenericName[zh_TW]=圖形計算器
Comment=Math Expression Solver and Plotter
Comment[bg]=Решаване на математически задачи
Comment[el]=Σχεδιαστής και επιλυτής μαθηματικών εκφράσεων
Comment[es]=Resuelve y dibuja expresiones matemáticas
Comment[fa]=حل‌کننده و رسام عبارت ریاضی
Comment[ja]=数式ソルバ＆プロッタ
Comment[ne]=म्याथ अभिव्यक्ति समाधानकर्ता र प्लोटर
Comment[nn]=Matteoppgåveløysar og grafplottar
Comment[pt]=Resolução e Desenho de Expressões Matemáticas
Comment[pt_BR]=Resolução e Desenho de Expressões Matemáticas
Comment[sv]=Lösning och uppritning av matematiska uttryck
Comment[zh_TW]=數學解題與繪圖
Exec=kalgebra
MimeType=application/x-kalgebra;
Icon=kalgebra
Type=Application
DocPath=kalgebra/index.html
Terminal=false
Categories=Qt;KDE;Education;Math;
