[Desktop Entry]
Icon=kspread
Type=Service
ServiceTypes=KAlgebra/Script

Name=Value Tables
Name[x-test]=xxValue Tablesxx
Comment=Provides a console to use KAlgebra as a calculator
Comment[x-test]=xxProvides a console to use KAlgebra as a calculatorxx

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=tables/tables.js
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
