[Desktop Entry]
Icon=kspread
Type=Service
ServiceTypes=KAlgebra/Script

Name=Value Tables
Name[ca]=Taules de valors
Name[en_GB]=Value Tables
Name[es]=Tablas de valores
Name[et]=Väärtustabelid
Name[nb]=Verditabeller
Name[nl]=Waardetabellen
Name[pt]=Tabelas de Valores
Name[pt_BR]=Tabelas de valores
Name[sv]=Värdetabeller
Name[uk]=Таблиці значень
Name[x-test]=xxValue Tablesxx
Name[zh_TW]=數值表
Comment=Provides a console to use KAlgebra as a calculator
Comment[ca]=Ofereix una consola per utilitzar el KAlgebra com a calculadora
Comment[en_GB]=Provides a console to use KAlgebra as a calculator
Comment[es]=Proporciona una consola para usar KAlgebra como calculadora
Comment[et]=Konsool, mida KAlgebra saab kasutada arvutamiseks
Comment[nb]=Tilbyr et konsoll for å bruke KAlgebra som en kalkulator
Comment[nl]=Biedt een console om KAlgebra als rekenmachine te gebruiken
Comment[pt]=Oferece uma consola para usar o KAlgebra como uma calculadora
Comment[pt_BR]=Fornece um console para usar o KAlgebra como uma calculadora
Comment[sv]=Tillhandahåller en terminal för att använda Kalgebra som miniräknare
Comment[uk]=Забезпечує роботу консолі-калькулятора на основі KAlgebra
Comment[x-test]=xxProvides a console to use KAlgebra as a calculatorxx
Comment[zh_TW]=提供主控台以使用 KAlgebra 做為計算機

X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=tables/tables.js
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
